@model VCAS.Models.VCAS_REF_bank_details

@{
    ViewBag.Title = "Edit  VCAS_REF_bank_details";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">       
        <div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
            <div class="row">
                <div class="cell-12">

                    <h2 class="fg-darkGray">@Html.ActionLink("<< Back", null, null, null, new { href = Request.UrlReferrer }) Edit:: Bank Details</h2>
                    <hr class="bg-gray" />
                    @Html.ValidationSummary(true, "", new { @class = "fg-magenta" })
                    @Html.HiddenFor(model => model.Id)

                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { data_role = "input", data_prepend = "Bank: " } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "fg-magenta" })
                    <input type="submit" value="Save" class="button yellow" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
}


