@model IEnumerable<VCAS.Models.VCAS_reconcile>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2 class="fg-darkGray">VCAS_reconcile:: Index</h2>
    <a href="@Url.Action("Create")" class="image-button success" style="text-decoration: none !important;">
        <span class="mif-chevron-thin-right icon"></span>
        <span class="caption">Create New</span>
    </a>
    <br />
    <table class="table striped table-border cell-border row-border compact bg-white" data-role="table">
        <thead>
            <tr>
            <th>
                @Html.DisplayNameFor(model => model.bank_ending_amt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bank_ending_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.service_charge_amt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.service_charge_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.interest_earned_amt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.interest_earned_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.difference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reconcile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VCAS_debitAccounts.name)
            </th>
            <th>
                manage
            </th>
        </tr>
      </thead>
    
    @foreach (var item in Model) {
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bank_ending_amt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bank_ending_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.service_charge_amt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.service_charge_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.interest_earned_amt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.interest_earned_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.difference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reconcile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VCAS_debitAccounts.name)
            </td>
            <td>
                    <ul class="pagination no-gap size-large">
                        <li class="page-item">
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="button info"><span class="mif-pencil icon"></span></a>
                        </li>
                        <li class="page-item">
                            <a href="@Url.Action("Delete", new { id = item.Id })" class="button alert"><span class="mif-bin icon"></span></a>
                        </li>
                    </ul>
            </td>
        </tr>
        </tbody>
    }
    
    </table>
</body>
</html>
