@model VCAS.Models.VCAS_council

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "council", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
            <div class="row">
                <div class="cell-12">

                    <h2 class="fg-darkGray">@Html.ActionLink("<< Back", null, null, null, new { href = Request.UrlReferrer }) Create new:: Organization</h2>
                    <hr class="bg-gray" />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="remark">
                        <h6 class="fg-gray">Details:</h6><br />
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { data_role = "input", data_prepend = "Organization Name.: " } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "fg-magenta" })

                        @Html.EditorFor(model => model.location, new { htmlAttributes = new { data_role = "input", data_prepend = "Organization Location.: " } })
                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "fg-magenta" })

                        @Html.EditorFor(model => model.vendor_Id, new { htmlAttributes = new { data_role = "input", data_prepend = "Organization Vendor ID.: " } })
                        @Html.ValidationMessageFor(model => model.vendor_Id, "", new { @class = "fg-magenta" })
                    </div>

                    <div class="remark">
                        <h6 class="fg-gray">Application details:</h6><br />
                        <div class="form-group files">
                            <p class="fg-gray">Logo for cover:</p><br />
                            <input type="file" class="form-control" name="app_cover" id="app_cover">
                            @Html.ValidationMessageFor(model => model.app_cover, "", new { @class = "text-danger" })
                        </div>

                        @Html.EditorFor(model => model.app_name, new { htmlAttributes = new { data_role = "input", data_prepend = "App Name.: " } })
                        @Html.ValidationMessageFor(model => model.app_name, "", new { @class = "fg-magenta" })
                    </div>

                    <div class="remark">
                        <h6 class="fg-gray">Receipt details:</h6><br />
                        <div class="form-group files">
                            <p class="fg-gray">Logo for receipts:</p>
                            <input type="file" class="form-control" name="receipt_logo" id="receipt_logo">
                            @Html.ValidationMessageFor(model => model.receipt_logo, "", new { @class = "text-danger" })
                        </div>

                        <div class="row">
                            <div class="cell-lg-6">
                                <p class="fg-gray">Receipts header:</p>
                                @Html.TextAreaFor(model => model.receipt_header, new { data_role = "textarea", @Id = "tinymce1" })
                                @Html.ValidationMessageFor(model => model.receipt_header, "", new { @class = "text-danger" })
                            </div>
                            <div class="cell-lg-6">
                                <p class="fg-gray">Receipts footer:</p>
                                @Html.TextAreaFor(model => model.receipt_footer, new { data_role = "textarea", @Id = "tinymce2" })
                                @Html.ValidationMessageFor(model => model.receipt_footer, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <input type="submit" value="Save" class="button yellow" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
}