





















@model VCAS.Models.VCAS_REF_forms


@{
    ViewBag.Title = "Details";

}


<div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
    <h2 class="fg-darkGray">@Html.ActionLink("<< Back", null, null, null, new { href = Request.UrlReferrer }) Details:: VCAS_REF_forms</h2>
    <hr class="bg-gray" />
    <table class="table subcompact">


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.txtInput_01)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.txtInput_01)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.txtInput_02)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.txtInput_02)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.txtInput_03)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.txtInput_03)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.txtInput_04)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.txtInput_04)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.txtInput_05)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.txtInput_05)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.checkInput_01)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.checkInput_01)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.checkInput_02)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.checkInput_02)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.checkInput_03)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.checkInput_03)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.selectInput_01)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.selectInput_01)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.selectInput_02)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.selectInput_02)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.selectInput_03)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.selectInput_03)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.txtAreaInput_01)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.txtAreaInput_01)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.txtAreaInput_02)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.txtAreaInput_02)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.txtAreaInput_03)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.txtAreaInput_03)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.fileInput_01)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.fileInput_01)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.fileInput_02)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.fileInput_02)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.formBtn)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.formBtn)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.frmHeader)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.frmHeader)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.frmFooter)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.frmFooter)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.signatureBox)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.signatureBox)<td>
        </tr>
        </tbody> 


        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.VCAS_forms.name)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.VCAS_forms.name)<td>
        </tr>
        </tbody> 

    </table>

    <a href="@Url.Action("Edit", new { id = Model.Id })" class="button info" style="width: 100%;"><span class="mif-pencil icon"></span></a>

 
</div>


