





















@model IEnumerable<VCAS.Models.VCAS_REF_forms>


@{
    ViewBag.Title = "Index";

}


<h2 class="fg-darkGray">VCAS_REF_forms:: Index</h2>
<a href="@Url.Action("Create")" class="image-button success" style="text-decoration: none !important;">
    <span class="mif-chevron-thin-right icon"></span>
    <span class="caption">Create New</span>
</a>
<br />
<table class="table striped table-border cell-border row-border compact bg-white" data-role="table">
    <thead>
        <tr>


        <th>
            @Html.DisplayNameFor(model => model.txtInput_01)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.txtInput_02)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.txtInput_03)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.txtInput_04)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.txtInput_05)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.checkInput_01)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.checkInput_02)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.checkInput_03)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.selectInput_01)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.selectInput_02)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.selectInput_03)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.txtAreaInput_01)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.txtAreaInput_02)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.txtAreaInput_03)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.fileInput_01)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.fileInput_02)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.formBtn)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.frmHeader)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.frmFooter)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.signatureBox)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.VCAS_forms.name)
        </th>

        <th>
            manage
        </th>
    </tr>
  </thead>

@foreach (var item in Model) {
    <tbody>
    <tr>


        <td>
            @Html.DisplayFor(modelItem => item.txtInput_01)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.txtInput_02)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.txtInput_03)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.txtInput_04)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.txtInput_05)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.checkInput_01)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.checkInput_02)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.checkInput_03)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.selectInput_01)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.selectInput_02)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.selectInput_03)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.txtAreaInput_01)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.txtAreaInput_02)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.txtAreaInput_03)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.fileInput_01)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.fileInput_02)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.formBtn)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.frmHeader)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.frmFooter)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.signatureBox)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.VCAS_forms.name)
        </td>

        <td>
                <ul class="pagination no-gap size-large">
                    <li class="page-item">
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="button info"><span class="mif-pencil icon"></span></a>
                    </li>
                    <li class="page-item">
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="button alert"><span class="mif-bin icon"></span></a>
                    </li>
                </ul>
        </td>

    </tr>
    </tbody>
}

</table>



