@model VCAS.Models.VCAS_links

@{
    ViewBag.Title = "Edit  VCAS_links";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">       
        <div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
            <div class="row">
                <div class="cell-12">

                    <h2 class="fg-darkGray">@Html.ActionLink("<< Back", null, null, null, new { href = Request.UrlReferrer }) Edit:: links</h2>
                    <hr class="bg-gray" />
                    @Html.ValidationSummary(true, "", new { @class = "fg-magenta" })
                    @Html.HiddenFor(model => model.Id)

                    @Html.EditorFor(model => model.text, new { htmlAttributes = new { data_role = "input", data_prepend = "url: Text: " } })
                    @Html.ValidationMessageFor(model => model.text, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.action, new { htmlAttributes = new { data_role = "input", data_prepend = "url: Action: " } })
                    @Html.ValidationMessageFor(model => model.action, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.controller, new { htmlAttributes = new { data_role = "input", data_prepend = "url: Controller: " } })
                    @Html.ValidationMessageFor(model => model.controller, "", new { @class = "fg-magenta" })
                    <br />
                    <label>Location:</label>
                    @Html.DropDownList("FK_location", null, htmlAttributes: new { data_role = "select" })
                    @Html.ValidationMessageFor(model => model.FK_location, "", new { @class = "fg-magenta" })
                    <br />
                    <lablel>User Role:</lablel>
                    @Html.DropDownList("FK_REF_userRolesId", null, htmlAttributes: new { data_role = "select" })
                    @Html.ValidationMessageFor(model => model.FK_REF_userRolesId, "", new { @class = "fg-magenta" })
                    <input type="submit" value="Save" class="button yellow" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
}


