@using MvcSiteMapProvider.Web.Html;
@{
    ViewBag.Title = "Delivery";
}

<!-- Quick Links ============================================= -->
<div>
    <h6 style="font-weight: 700;" class="fg-grayBlue">:: Quick Links</h6>
    @Html.MvcSiteMap().Menu(false, true, true)
</div>


<a href="@Url.Action("Approvals", "issuedChecks")" class="image-button success m-1" style="text-decoration: none !important;">
    <span class="mif-chevron-thin-right icon"></span>
    <span class="caption">Pending Approvals</span>
    <span class="badge bg-red fg-white">@ViewBag.pending_approvals</span>
</a>
<a href="#" class="image-button m-1" style="text-decoration: none !important;">
    <span class="mif-chevron-thin-right icon"></span>
    <span class="caption">Pending Delivery</span>
    <span class="badge bg-red fg-white">@ViewBag.pending_delivery</span>
</a>
<p class="fg-grayBlue"><strong>-- Entries to Deliver --</strong></p>
@Html.DropDownList("delivery", null, htmlAttributes: new { data_role = "select", @class = "input-large", @ViewBag.readOnly })


<script>
    $(document).ready(function () {
        // Navigate to Delivery Form
        // ==============================
        $("#delivery").change(function () {
            var data = $(this).val();
            window.location.href = '@Url.Action("EditDelivery", "issuedChecks")?&id=' + data
        });
    });
</script>