@model VCAS.Models.VCAS_issuedChecks
@using MvcSiteMapProvider.Web.Html;
@{
    ViewBag.Title = "Edit Entry";
}

<h6 style="font-weight: 700;" class="fg-grayBlue">:: Navigation</h6>
@Html.MvcSiteMap().Menu(false, true, false)

@using (Html.BeginForm("EditEntry", "issuedChecks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 5px;">
        <div class="row">
            <div class="cell-3">
                <h3 class="fg-gray">Issue Payments</h3>
            </div>
            <div class="cell-9">
                @Html.EditorFor(model => model.issuer, new { htmlAttributes = new { @class = "metro-input input-small", data_role = "input", data_prepend = "Issuer:", @Value = User.Identity.Name, @Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.issuer, "", new { @class = "fg-magenta" })
            </div>
        </div><br />


        <div id="smartwizard">
            <ul class="nav">
                <li>
                    <a class="nav-link" href="#step-1">
                        Entry
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#step-2">
                        Pending Approvals
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#step-3">
                        Pending Delivery
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="step-1" class="tab-pane" role="tabpanel">
                    <div class="remark">
                        <p>Payment submitted: @Html.DisplayFor(model => model.datetime, "{0:dd/MM/yyyy}")</p>
                        <h6 class="fg-gray">Debit Account:</h6>
                        @Html.DropDownList("FK_debitAccountsId", null, "-- select Account --", htmlAttributes: new { data_role = "select" })
                        @Html.ValidationMessageFor(model => model.FK_debitAccountsId, "", new { @class = "fg-magenta" })
                        <h6 class="fg-gray">Expense:</h6>
                        @Html.DropDownList("FK_expensesId", null, htmlAttributes: new { data_role = "select" })
                        @Html.ValidationMessageFor(model => model.FK_expensesId, "", new { @class = "fg-magenta" })
                        <h6 class="fg-gray">Check Number:</h6>
                        @Html.EditorFor(model => model.checkNo, new { htmlAttributes = new { data_role = "input", data_prepend = "CheckNo:" } })
                        @Html.ValidationMessageFor(model => model.checkNo, "", new { @class = "fg-magenta" })
                    </div>
                    <div class="remark">
                        <h6 class="fg-gray">Location:</h6>
                        @Html.DropDownList("FK_location", null, htmlAttributes: new { data_role = "select" })
                        @Html.ValidationMessageFor(model => model.FK_location, "", new { @class = "fg-magenta" })
                        <h6 class="fg-gray">Issuing Amount:</h6>
                        @Html.EditorFor(model => model.amount, new { htmlAttributes = new { data_role = "input", data_prepend = "Amount:" } })
                        @Html.ValidationMessageFor(model => model.amount, "", new { @class = "fg-magenta" })
                        <h6 class="fg-gray">Receiver:</h6>
                        @Html.EditorFor(model => model.receiverName, new { htmlAttributes = new { data_role = "input", data_prepend = "Receiver Name:" } })
                        @Html.ValidationMessageFor(model => model.receiverName, "", new { @class = "fg-magenta" })
                        <h6 class="fg-gray">Receiver's ID:</h6>
                        @Html.EditorFor(model => model.receiverID, new { htmlAttributes = new { data_role = "input", data_prepend = "ReceiverID:" } })
                        @Html.ValidationMessageFor(model => model.receiverID, "", new { @class = "fg-magenta" })
                        <h6 class="fg-gray">ID Type:</h6>
                        @Html.DropDownList("FK_receiverID_TypesId", null, htmlAttributes: new { data_role = "select" })
                        @Html.ValidationMessageFor(model => model.FK_receiverID_TypesId, "", new { @class = "fg-magenta" })

                        <br />
                        <div class="grid">
                            <div class="row">
                                <div class="cell-8">
                                    <div class="form-group files">
                                        <h6 class="fg-gray">Attach Receiver's ID (Optional):</h6><br />
                                        <input type="file" class="form-control" name="attach_ID" id="attach_ID">
                                        @Html.HiddenFor(model => model.attach_ID)
                                        @Html.ValidationMessageFor(model => model.attach_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="cell-4" id="attach_IDFile">
                                    @if (!string.IsNullOrWhiteSpace(Model.attach_ID))
                                    {
                                        <img src="@Url.Content(Model.attach_ID)" />
                                    }
                                </div>
                            </div>
                        </div>


                    </div>
                    @Html.HiddenFor(model => model.datetime)
                    @Html.ValidationMessageFor(model => model.datetime, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.approver)
                    @Html.ValidationMessageFor(model => model.approver, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.auth_signature)
                    @Html.ValidationMessageFor(model => model.auth_signature, "", new { @class = "fg-magenta" })

                    @Html.HiddenFor(model => model.signature)
                    @Html.ValidationMessageFor(model => model.signature, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.issuer)
                    @Html.ValidationMessageFor(model => model.issuer, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.approval)
                    @Html.ValidationMessageFor(model => model.approval, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.pending_approval)
                    @Html.ValidationMessageFor(model => model.pending_approval, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.auth_signature)
                    @Html.ValidationMessageFor(model => model.auth_signature, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.complete, new { @Value = false })
                    @Html.ValidationMessageFor(model => model.complete, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.attach_Receipt)
                    @Html.ValidationMessageFor(model => model.attach_Receipt, "", new { @class = "text-danger" })

                    <div class="remark">
                        <div class="form-group files">
                            <h6 class="fg-gray">Attach Voucher, Invoice, Purchase Order e.t.c (Optional):</h6><br />
                            @if (!string.IsNullOrWhiteSpace(Model.attach_Doc))
                            {
                                <p> Click to access <a href='@Url.Content(Model.attach_Doc)'>Document</a></p>
                            }
                            <input type="file" class="form-control" name="attach_Doc" id="attach_Doc">
                            @Html.HiddenFor(model => model.attach_Doc)
                            @Html.ValidationMessageFor(model => model.attach_Doc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="remark">
                        <div class="form-group files">
                            <h6 class="fg-gray">Attach Receipt (Optional):</h6><br />
                            @if (!string.IsNullOrWhiteSpace(Model.attach_Receipt))
                            {
                                <p> Click to access <a href='@Url.Content(Model.attach_Receipt)'>Receipt</a></p>
                            }
                            <input type="file" class="form-control" name="attach_Receipt" id="attach_Receipt">
                            @Html.HiddenFor(model => model.attach_Receipt)
                            @Html.ValidationMessageFor(model => model.attach_Receipt, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="row">
                            <div class="cell-6">
                                <input type="submit" value="Save" class="button yellow" style="width: 100%; margin-left: 5px;" />
                            </div>
                            <div class="cell-6">
                                <a href="@Url.Action("Delete", "issuedChecks", new { Id = Model.Id } )" type="submit" class="button alert" style="width: 100%; margin-left: 5px;">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step-2" class="tab-pane" role="tabpanel"></div>
                <div id="step-3" class="tab-pane" role="tabpanel"></div>
            </div>
        </div>
    </div>
}
<!-- SMARTWIZARD Module ------------- -->
@Scripts.Render("~/bundles/smartwizard")
<script type="text/javascript">

    // Smartwizard module
    // ============================
    $('#smartwizard').smartWizard({
        selected: 0, // Initial selected step, 0 = first step
        hiddenSteps: [1, 2], // Hidden steps
        theme: 'dots', // theme for the wizard, related css need to include for other than default theme
        justified: true, // Nav menu justification. true/false
        darkMode: false, // Enable/disable Dark Mode if the theme supports. true/false
        autoAdjustHeight: false, // Automatically adjust content height
        cycleSteps: false, // Allows to cycle the navigation of steps
        backButtonSupport: false, // Enable the back button support
        enableURLhash: false, // Enable selection of the step based on url hash
        transition: {
            animation: 'none', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
            speed: '400', // Transion animation speed
            easing: '' // Transition animation easing. Not supported without a jQuery easing plugin
        },
        toolbarSettings: {
            toolbarPosition: 'top', // none, top, bottom, both
            toolbarButtonPosition: 'right', // left, right, center
            showNextButton: false, // show/hide a Next button
            showPreviousButton: false, // show/hide a Previous button
            toolbarExtraButtons: [] // Extra buttons to show on toolbar, array of jQuery input/buttons elements
        },
        anchorSettings: {
            anchorClickable: true, // Enable/Disable anchor navigation
            enableAllAnchors: false, // Activates all anchors clickable all times
            markDoneStep: false, // Add done state on navigation
            markAllPreviousStepsAsDone: false, // When a step selected by url hash, all previous steps are marked done
            removeDoneStepOnNavigateBack: false, // While navigate back done step after active step will be cleared
            enableAnchorOnDoneStep: false // Enable/Disable the done steps navigation
        },
        keyboardSettings: {
            keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
            keyLeft: [37], // Left key code
            keyRight: [39] // Right key code
        },
        lang: { // Language variables for button
            next: 'Next',
            previous: 'Previous'
        },
        disabledSteps: [], // Array Steps disabled
        errorSteps: [], // Highlight step with errors
        hiddenSteps: [] // Hidden steps
    });
</script>
