@model VCAS.Models.VCAS_inventory

@{
    ViewBag.Title = "Create  VCAS_inventory";
}

@using (Html.BeginForm("Create", "inventory", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">       
        <div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
            <div class="row">
                <div class="cell-12">

                    <h2 class="fg-darkGray">@Html.ActionLink("<< Back", null, null, null, new { href = Request.UrlReferrer }) Create new:: Inventory</h2>
                    <hr class="bg-gray" />
                    @Html.ValidationSummary(true, "", new { @class = "fg-magenta" })

                    @Html.HiddenFor(model => model.dateModified, new { @Value = System.DateTime.Now.ToString("yyyy-MM-dd HH:mm") })
                    @Html.ValidationMessageFor(model => model.dateModified, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { data_role = "input", data_prepend = "Name: " } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.desc, new { htmlAttributes = new { data_role = "input", data_prepend = "Description: " } })
                    @Html.ValidationMessageFor(model => model.desc, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.partNumber, new { htmlAttributes = new { data_role = "input", data_prepend = "Part Number: " } })
                    @Html.ValidationMessageFor(model => model.partNumber, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.label, new { htmlAttributes = new { data_role = "input", data_prepend = "Label: " } })
                    @Html.ValidationMessageFor(model => model.label, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.startStock, new { htmlAttributes = new { data_role = "input", data_prepend = "Starting Stock: ", @Type = "number", min = "0", step = "1" } })
                    @Html.ValidationMessageFor(model => model.startStock, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.currentStock, new { htmlAttributes = new { data_role = "input", data_prepend = "Current Stock: ", @Type = "number", min = "0", step = "1" } })
                    @Html.ValidationMessageFor(model => model.currentStock, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { data_role = "input", data_prepend = "Quantity: ", @Type = "number", min = "0", step = "1" } })
                    @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.size, new { htmlAttributes = new { data_role = "input", data_prepend = "Size: ", @Type = "number", min = "0", step = "1" } })
                    @Html.ValidationMessageFor(model => model.size, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.unit, new { htmlAttributes = new { data_role = "input", data_prepend = "Units: " } })
                    @Html.ValidationMessageFor(model => model.unit, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.unitPrice, new { htmlAttributes = new { data_role = "input", data_prepend = "Unit Price: ", @Type = "number", min = "0", step = "1" } })
                    @Html.ValidationMessageFor(model => model.unitPrice, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.sellingPrice, new { htmlAttributes = new { data_role = "input", data_prepend = "Selling Price: ", @Type = "number", min = "0", step = "1" } })
                    @Html.ValidationMessageFor(model => model.sellingPrice, "", new { @class = "fg-magenta" })

                    @Html.HiddenFor(model => model.FK_location, new { @Value = ViewBag.FK_location })
                    @Html.ValidationMessageFor(model => model.FK_location, "", new { @class = "fg-magenta" })

                    <br />
                    <label>Item Category:</label>
                    @Html.DropDownList("FK_REF_itemsId", null, htmlAttributes: new { data_role = "select" })
                    @Html.ValidationMessageFor(model => model.FK_REF_itemsId, "", new { @class = "fg-magenta" })

                    <div class="form-group files">
                        <h6 class="fg-gray">Image:</h6><br />
                        <input type="file" class="form-control" name="image" id="image">
                        @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <input type="submit" value="Save" class="button yellow" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
}

