@model VCAS.Models.VCAS_capture_payments
@using MvcSiteMapProvider.Web.Html;
@{
    ViewBag.Title = "Capture Payment";
}

<!-- Quick Links ============================================= -->
<div class="row">
    <h6 style="font-weight: 700;" class="fg-grayBlue">:: Quick Links</h6>
    <div class="cell-lg-12">
        @Html.MvcSiteMap().Menu(false, true, true)
    </div>
</div>

@using (Html.BeginForm("Create", "capture_payments", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="grid" id="app_styleBG2">
        <h3 class="fg-gray"><span id="rec_invName">Receipt</span> Capture</h3>
        <div class="row">
            <div class="cell-lg-6" style="overflow-y: scroll; max-height:500px;">
                <div class="remark">
                    @Html.HiddenFor(model => model.invoice, new { @Value = false })
                    @Html.DropDownList("FK_location", null, htmlAttributes: new { data_role = "select" })
                    @Html.ValidationMessageFor(model => model.FK_location, "", new { @class = "fg-magenta" })
                    @Html.EditorFor(model => model.issuer, new { htmlAttributes = new { data_role = "input", data_prepend = "Issuer:", @Value = ViewBag.issuer, @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.issuer, "", new { @class = "fg-magenta" })
                    @Html.EditorFor(model => model.receiptNo, new { htmlAttributes = new { data_role = "input", data_prepend = "Receipt No:", @Value = ViewBag.recNo, placeholder = ViewBag.recNo, @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.receiptNo, "", new { @class = "fg-magenta" })

                    <label class="fg-darkBlue">Date:</label>
                    @Html.EditorFor(model => model.datetime, new { htmlAttributes = new { data_role = "calendarpicker", @Placeholder = "Select Date:", @Value = System.DateTime.Now } })
                    @Html.ValidationMessageFor(model => model.datetime, "", new { @class = "fg-magenta" })
                </div>
                <div class="row">
                    <div class="cell-lg-12">
                        <div class="remark">
                            <!-- CUSTOMER SECTION ====== -->
                            <div class="row">
                                <div class="cell-lg-12">
                                    <label class="fg-darkBlue">Customer:</label>
                                    @Html.DropDownList("cusList", null, "-- Select --", htmlAttributes: new { @Class = "select2" })
                                    <input type="checkbox" data-role="checkbox" data-style="2" data-caption="+NEW" class="fg-green" id="payerCheckInput" />

                                    <input type="checkbox" data-role="checkbox" data-style="2" data-caption="ORDERS" class="fg-darkBlue" id="orderCheckInput" />
                                    <span class="badge inside bg-red fg-white" style="position: initial;">@ViewBag.cusOrdersCount</span>
                                    <div id="orderSelect">
                                        <label class="fg-darkBlue">Customer Order:</label>
                                        @Html.DropDownList("cusOrders", null, "N/A", htmlAttributes: new { @Class = "select2" })
                                        @Html.HiddenFor(model => model.orderID)
                                        @Html.ValidationMessageFor(model => model.orderID, "", new { @class = "fg-magenta" })
                                    </div>
                                    @Html.HiddenFor(model => model.payer)
                                    @Html.ValidationMessageFor(model => model.payer, "", new { @class = "fg-magenta" })
                                    @Html.HiddenFor(model => model.payerID)
                                    @Html.ValidationMessageFor(model => model.payerID, "", new { @class = "fg-magenta" })
                                </div>
                                <hr class="bg-gray" width="100%" />
                            </div>

                            <!-- SALES ITEM / INVENTORY SECTION ====== -->
                            <div class="row">

                                <div class="cell-lg-5">
                                    <label class="fg-darkBlue">Sales Item:</label>
                                    @Html.DropDownList("FK_items", null, "-- Select --", htmlAttributes: new { @Class = "select2" })
                                    @Html.ValidationMessageFor(model => model.FK_items, "", new { @class = "fg-magenta" })
                                </div>
                                <div class="cell-lg-2">
                                    <p align="LEFT">-- or --</p>
                                </div>
                                <div class="cell-lg-5">
                                    <label class="fg-darkBlue">Product Code/#:</label>
                                    <select id="ProductNum" class="select2">
                                        <option>-- Select --</option>
                                    </select>
                                    <br /> 
                                    <button class="image-button light">
                                        <span class="mif-barcode icon"></span>
                                        <span class="caption">SCAN</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell-lg-12">
                                    <div class="sales_inventory">
                                        <div id="invTile" data-role="tile" data-size="medium" onclick="tileData(0)">
                                            <span class="mif-tags icon"></span>
                                            <span class="branding-bar">...</span>
                                            <span class="badge-top">0</span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="inventoryID" id="inventoryID" value="0" />
                                </div>
                                <hr class="bg-gray" width="100%" />
                            </div>

                            <!-- PAYMENT SECTION ====== -->
                            <div class="row">
                                <div class="cell-lg-12">
                                    <label class="fg-darkBlue">Payment:</label>
                                    @Html.EditorFor(model => model.amount, new { htmlAttributes = new { data_role = "input", data_prepend = "<span class='mif-dollar icon'></span>", @Placeholder = "Amount $", @type = "number" } })
                                    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "fg-magenta" })

                                    @Html.EditorFor(model => model.recieved_amount, new { htmlAttributes = new { data_role = "input", data_prepend = "<span class='mif-dollar icon'></span>", @Placeholder = "Received $", @type = "number", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.recieved_amount, "", new { @class = "fg-magenta" })

                                    <label class="fg-darkBlue">Type:</label>
                                    @Html.DropDownList("FK_paymentType", null, htmlAttributes: new { data_role = "select" })
                                    @Html.ValidationMessageFor(model => model.FK_paymentType, "", new { @class = "fg-magenta" })

                                    <div id="checkDetails">
                                        @Html.EditorFor(model => model.checkNo, new { htmlAttributes = new { data_role = "input", data_prepend = "Check No.: " } })
                                        @Html.ValidationMessageFor(model => model.checkNo, "", new { @class = "fg-magenta" })
                                        <br />
                                        <label class="fg-darkBlue">Bank:</label>
                                        @Html.DropDownList("FK_bankDetails", null, htmlAttributes: new { data_role = "select", data_prepend = "<span class='mif-location-city icon'></span>" })
                                        @Html.ValidationMessageFor(model => model.FK_bankDetails, "", new { @class = "fg-magenta" })
                                        <br />
                                    </div>
                                </div>
                                <div class="cell-lg-12">
                                    <!-- BUTTONS SECTION ====== -->
                                    <ul class="pagination no-gap size-large">
                                        <li class="page-item">
                                            <button type="submit" class="button large yellow" id="submitBtn">
                                                <span class="mif-done_all icon"></span> Capture
                                            </button>
                                        </li>
                                        <li class="page-item">
                                            <button type="button" class="button large primary" id="moreBtn">
                                                <span class="mif-add icon"></span> More
                                            </button>
                                        </li>
                                        <li class="page-item">
                                            <button type="button" class="button large default" id="printMore">
                                                <span class="mif-printer icon"></span> Print
                                            </button>
                                        </li>
                                        <li class="page-item">
                                            <a href='@Url.Action("RePrint")' class="button large default">
                                                <span class="mif-printer icon"></span> Reprint
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- INVOICE SECTION ====== -->
                <div class="remark">

                    <div class="row">
                        <div class="cell-lg-4">
                            <input type="checkbox" data-role="checkbox" data-caption="MAKE INVOICE" class="fg-darkBlue" id="rec_invNew">
                        </div>
                        <div class="cell-lg-4">
                            <input type="checkbox" data-role="checkbox" data-caption="FETCH INVOICE" class="fg-darkBlue" id="rec_invGet">
                        </div>
                        <div class="cell-lg-4"></div>
                    </div>
                    <div id="rec_invGetDiv">
                        <label class="fg-darkBlue">Saved Invoices:</label>
                        @Html.DropDownList("invoiceFetches", null, "-- Select --", htmlAttributes: new { data_role = "select" })
                    </div>
                </div>
                <!-- COMMENTS SECTION ====== -->
                <div class="remark">

                    @Html.TextAreaFor(model => model.comment, new { data_role = "textarea", placeholder = "... Comment" })
                    @Html.ValidationMessageFor(model => model.comment, "", new { @class = "fg-magenta" })
                </div>
            </div>
            <!-- RECEIPT PREVIEW ===== -->
            <div class="cell-lg-6 zig-zag-bottom">
                <div data-role="panel"
                     data-title-caption="Preview"
                     data-cls-panel="shadow-3"
                     data-title-icon="<span class='mif-apps'></span>">
                    <img id="rec_logo" src="#" width="100" />
                    <div class="row">
                        <div class="cell-lg-6">
                            <p><strong><span id="rec_invName2">Receipt</span> No.: </strong>@ViewBag.recNo</p>
                            <hr class="bg-gray" />
                            <p><strong>Location: </strong><span id="REC-loc"></span></p>
                            <p><strong>Issuer: </strong><span id="REC-issuer"></span></p>
                            <p><strong>Date: </strong><span id="REC-date"></span></p>
                        </div>
                        <div class="cell-lg-6">
                            <p><strong>Order No.: </strong><span id="REC-orderNum"></span></p>
                            <hr class="bg-gray" />
                            <p><strong>Customer:</strong></p>
                            <p><span id="REC-payer"></span></p>
                            <hr class="bg-gray" />
                            <p><strong>Billing:</strong></p>
                            <p>Paid with: <span id="REC-payType"></span></p>
                            <div id="billingCheck">
                                <p></p>
                                <p>Check Number: <span id="REC-check"></span></p>
                                <p>Bank: <span id="REC-bank"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-lg-12">
                            <table class="table subcompact" data-horizontal-scroll="true" id="recPreview">
                                <thead>
                                    <tr>
                                        <th>LINE #</th>
                                        <th>DESCRIPTION</th>
                                        <th>SALES PRICE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><span id="REC-desc"></span><br /><span id="REC-orderDesc"></span><br /><br /><span id="REC-comments"></span></td>
                                        <td id="REC-amount"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-lg-6"></div>
                        <div class="cell-lg-6">
                            <table class="table subcompact" data-horizontal-scroll="true" id="recPreview">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th></th>
                                        <td align="right">TOTAL:</td>
                                        <td align="left" id="REC-total"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table subcompact" data-horizontal-scroll="true" id="recPreview">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th></th>
                                        <td align="right">PAYMENT:</td>
                                        <td align="left" id="REC-payment"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table subcompact" data-horizontal-scroll="true" id="recPreview">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th></th>
                                        <td align="right">BALANCE:</td>
                                        <td align="left" id="REC-balance"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    // Fetch & Show logo from DB
    // =========================
    var getUrl = window.location;
    var baseUrl = getUrl.protocol + "//" + getUrl.host;
    document.getElementById("rec_logo").src = baseUrl + "@ViewBag.recLogo";

    // Stock tile logic
    // ========================
    function tileData(name, id, invID) {
        var amount = document.getElementById("amount");
        amount.value = id;
        amount.style.backgroundColor = "#f8f8f8"; // make field READONLY
        // amount.readOnly = true;

        document.getElementById("REC-amount").innerHTML = id; // update receipt preview price
        document.getElementById("REC-total").innerHTML = id;

        document.getElementById("inventoryID").value = invID; // stock fields update

        document.getElementById("comment").innerHTML = "inventory item: " + name + "\n"; // append inventory selected item to comments
        document.getElementById("REC-comments").innerHTML = "inventory item: " + name;

        document.getElementById("recieved_amount").focus(); // focus on received amount
    }

    // Phone Number Auto-format
    // ==================================
    $('#phone').usPhoneFormat({
        format: '(xxx) xxx-xxxx',
    });

    $(document).ready(function () {

        var receiptNo = $("#receiptNo");
        receiptNo.css("background-color", "#ffe484");
        var issuer = $("#issuer");
        issuer.css("background-color", "#f8f8f8");
        var datetime = $("#datetime");
        var payer = $("#payer");
        var payerID = $("#payerID");
        var payerREC = $("#REC-payer");
        payer.val("@ViewBag.cusName");
        payerREC.html("@ViewBag.cusName");
        payerID.val("@ViewBag.cusID");
        var checkNo = $("#checkNo");
        var amount = $("#amount");
        var amount_received = $("#recieved_amount");
        var item = $("#FK_items");
        var bank = $("#FK_bankDetails");
        var payment = $("#FK_paymentType");
        var paymentType = $("#REC-payType");
        var checkDetails = $("#checkDetails");
        var billing1 = $("#billingCheck");
        var orderSelect = $("#orderSelect");
        var cusOrders = $("#cusOrders");
        var comment = $("#comment");
        var location = $("#FK_location");
        var productcode = $("#ProductNum");

        // Payment logic
        // ==================================
        checkDetails.hide();
        billing1.hide();
        paymentType.text(payment.children("option:selected").text());
        payment.on('keyup change', function () {
            paymentType.text(payment.children("option:selected").text());
            if (payment.children("option:selected").text('Check')) {
                checkDetails.show();
                billing1.show();
            } else if (payment.children("option:selected").text('Debit Card')) {
                checkDetails.hide();
                billing1.hide();
                checkNo.val('');
                bank.val(5);
            } else if (payment.children("option:selected").text('Bank Transfer')) {
                checkDetails.hide();
                billing1.hide();
                checkNo.val('');
                bank.val(5);
            } else {
                checkDetails.hide();
                billing1.hide();
                checkNo.val('');
                bank.val(5);
            }
        });
        // Default onClick logic
        // ==================================
        // issuer
        $("#REC-issuer").html(issuer.val());
        issuer.on('keyup change', function () {
            $("#REC-issuer").html(issuer.val());
        });
        // datetime
        $("#REC-date").html(datetime.val());
        datetime.on('keyup change', function () {
            $("#REC-date").html(datetime.val());
        });
        // checkNo
        checkNo.on('keyup change', function () {
            $("#REC-check").html(checkNo.val());
        });
        // bank
        bank.on('keyup change', function () {
            $("#REC-bank").html(bank.children("option:selected").text());
        });
        // items
        var html = "";
        var iName = "";
        var iPrice = "";
        var siDIV = $(".sales_inventory");

        item.on('keyup change', function () {
            $.ajax({
                url: '@Url.Action("Json", "inventory")?&l=' + location.val() + "&it=" + item.val(),
                type: "POST",
                success: function (result) {
                    $.each(result, function (k, v) {
                        iName = v.name;
                        iPrice = v.sellingPrice;
                        html += '<div data-role="tile"  onclick="tileData(\'' + iName + '\', \'' + iPrice + '\', \'' + v.Id + '\', \'' + v.FK_REF_itemsId + '\')" ';
                        html += "data-size='medium'>";
                        html += "<span class='mif-tags icon'></span>";
                        html += "<span class='branding-bar'>" + iName + "</span>";
                        html += "<span class='badge-top'>" + iPrice + "</span>";
                        html += "</div>";
                        siDIV.html(html);

                        $("#REC-desc").text(v.desc);
                    });
                }
            });
        });

        $.ajax({
            url: '@Url.Action("Json2", "inventory")?&l=' + location.val(),
            type: "GET",
            success: function (result) {
                $.each(result, function (k, v) {
                    productcode.append('<option value="' + v.partNumber + '">' + v.partNumber + '</option>');
                });
            }
        });
        productcode.on('keyup change', function () {
            $.ajax({
                url: '@Url.Action("Json2", "inventory")?&l=' + location.val(),
                type: "POST",
                success: function (result) {
                    $.each(result, function (k, v) {

                        if (v.partNumber == productcode.val()) {

                            html += '<div data-role="tile"';
                            html += "data-size='medium'>";
                            html += "<span class='mif-tags icon'></span>";
                            html += "<span class='branding-bar'>" + v.name + "</span>";
                            html += "<span class='badge-top'>" + v.sellingPrice + "</span>";
                            html += "</div>";
                            siDIV.html(html);

                            tileData(v.name, v.sellingPrice, v.Id, v.FK_REF_itemsId);

                            $("#REC-desc").text(v.desc);
                        }
                    });
                }
            });
        });
        productcode.on('click', function () {
            amount_received.focus();
        });

        // amount
        amount.on('keyup change', function () {
            $("#REC-amount").html('$' + amount.val());
            $("#REC-total").html('$' + amount.val());
        });
        // amount_received
        var bal = 0;
        amount_received.on('keyup change', function () {
            $("#REC-payment").html('$' + amount_received.val());

            bal = amount.val() - amount_received.val();
            $("#REC-balance").html('$' + bal);
        });
        // comment
        comment.on('keyup change', function () {
            $("#REC-comments").html('<hr class="bg-gray" width="50" /><br/>' + comment.val());
        });
        // More onClick logic
        // ==================================
        $("#moreBtn").on('click', function () {
            window.location = '@Url.Action("More", "capture_payments")';
        });
        // Print onClick logic
        // ==================================
        $("#printMore").on('click', function () {
            window.location = '@Url.Action("PrintLast", "capture_payments")';
        });
        var cusListSelectData = "";
        $("#cusList").on('keyup change', function () {
            cusListSelectData = $(this).children("option:selected").text();
            $(this).get(0).focus();

            $("#REC-payer").html(cusListSelectData);
            payer.val(cusListSelectData);
            payer.css("background-color", "#f8f8f8"); // make payer field READONLY after process
        });
        // New Customer onClick logic
        // ==================================
        $('#payerCheckInput').change(function () {
            if ($(this).is(":checked")) {
                Metro.dialog.create({
                    closeButton: true,
                    clsTitle: "bg-green fg-white",
                    title: "<span class='mif-user-plus'></span> New Customer",
                    content: "<div class=form-horizontal><div class=grid style=background:#fff;border-radius:10px;width:100%;padding:20px><div class=row><div class=cell-12><form method=POST><input name=firstName data-label='First Name:'data-role=materialinput id=firstName placeholder='Enter First Name'required> <input name=lastName data-label='Last Name:'data-role=materialinput id=lastName placeholder='Enter Last Name'required> <input name=address data-label=Address: data-role=materialinput id=address placeholder=Address> <input name=state data-label=State: data-role=materialinput id=state placeholder=State> <input name=phone data-label='Phone Number:'data-role=materialinput id=phone placeholder='Enter Phone Number'required> <input name=email data-label=Email: data-role=materialinput id=email placeholder='Enter Email'type=email> <input name=FK_Location type=hidden></form></div></div></div></div>",
                    actions: [
                        {
                            caption: "Finish & Save",
                            cls: "primary",
                            onclick: function () {
                                    var formData =
                                    {
                                        firstName: $("#firstName").val(),
                                        lastName: $("#lastName").val(),
                                        address: $("#address").val(),
                                        state: $("#state").val(),
                                        phone: $("#phone").val(),
                                        email: $("#email").val(),
                                        FK_Location: $("#FK_Locaion").val()
                                    };

                                    $.ajax({
                                        url: '@Url.Action("Create", "customer")',
                                        type: "POST",
                                        data: formData,
                                        success: function () {
                                            window.location = '@Url.Action("Create", "capture_payments")?cusName=' + formData.firstName + '&cusName2=' + formData.lastName;
                                        }
                                });
                            }
                        }
                    ]
                });
            }
        });
        // Item Order onClick logic
        // ==================================
        orderSelect.hide();
        $('#orderCheckInput').change(function () {
            if ($(this).is(":checked")) {
                orderSelect.show();
                cusOrders.on('keyup change', function () {
                    $("#orderID").val(cusOrders.children("option:selected").val());
                    $("#REC-orderNum").text(cusOrders.children("option:selected").val());
                    $("#REC-orderDesc").text(cusOrders.children("option:selected").text());
                });
            } else {
                orderSelect.hide();
            }
        });
        // Invoice Checkbox logic
        // ===============================
        $('#rec_invNew').change(function () { // New Invoice
            if ($(this).is(":checked")) {
                $("#rec_invName").text("Invoice");
                $("#rec_invName2").text("Invoice");
                $("#invoice").val(true);
            } else {
                $("#rec_invName").text("Receipt");
                $("#rec_invName2").text("Receipt");
                $("#invoice").val(false);
            }
        });
        $('#rec_invGetDiv').hide();
        $('#rec_invGet').change(function () { // Old Invoice
            if ($(this).is(":checked")) {
                $('#rec_invGetDiv').show();

                var inv_option = $("#invoiceFetches");
                inv_option.on('keyup change', function () {
                    window.location = '@Url.Action("Edit", "capture_payments")/' + inv_option.val();
                });
            } else {
                $('#rec_invGetDiv').hide();
            }
        });
    });
</script>