@model VCAS.Models.VCAS_capture_payments
@using MvcSiteMapProvider.Web.Html;
@{
    ViewBag.Title = "Capture Payment";
}

<!-- Quick Links ============================================= -->
<div class="row">
    <h6 style="font-weight: 700;" class="fg-grayBlue">:: Quick Links</h6>
    <div class="cell-lg-12">
        @Html.MvcSiteMap().Menu(false, true, true)
    </div>    
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "fg-magenta" })
    @Html.HiddenFor(model => model.Id)

<div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
    <h3 class="fg-gray">Invoice Capture</h3>
    <div class="row">
        <div class="cell-lg-6">
            <div class="remark">
                @Html.DropDownList("FK_location", null, htmlAttributes: new { data_role = "select" })
                @Html.ValidationMessageFor(model => model.FK_location, "", new { @class = "fg-magenta" })
                @Html.EditorFor(model => model.issuer, new { htmlAttributes = new { data_role = "input", data_prepend = "Issuer:", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.issuer, "", new { @class = "fg-magenta" })
                @Html.EditorFor(model => model.receiptNo, new { htmlAttributes = new { data_role = "input", data_prepend = "Invoice No:", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.receiptNo, "", new { @class = "fg-magenta" })
                @Html.EditorFor(model => model.datetime, new { htmlAttributes = new { data_role = "calendarpicker", @Placeholder = "Select Date:" } })
                @Html.ValidationMessageFor(model => model.datetime, "", new { @class = "fg-magenta" })
                
                @Html.HiddenFor(model => model.payerID, new { @Value = Model.payerID })
                @Html.HiddenFor(model => model.FK_paymentType, new { @Value = Model.FK_paymentType })
                @Html.HiddenFor(model => model.checkNo, new { @Value = Model.checkNo })
                @Html.HiddenFor(model => model.FK_bankDetails, new { @Value = Model.FK_bankDetails })
                @Html.HiddenFor(model => model.FK_items, new { @Value = Model.FK_items })

                <input type="hidden" name="itemID" id="itemID" />
                <input type="hidden" name="inventoryID" id="inventoryID" />
            </div>

            <div class="remark">
                <br />
                <label class="fg-darkBlue">Customer:</label>
                @Html.EditorFor(model => model.payer, new { htmlAttributes = new { data_role = "input" } })
                @Html.ValidationMessageFor(model => model.payer, "", new { @class = "fg-magenta" })
                <br />
                <label class="fg-darkBlue">Payment:</label>
                @Html.EditorFor(model => model.amount, new { htmlAttributes = new { data_role = "input", data_prepend = "<span class='mif-dollar icon'></span>", @Placeholder = "Amount $", @type = "number", min = "1", step = "0.01" } })
                @Html.ValidationMessageFor(model => model.amount, "", new { @class = "fg-magenta" })

                @Html.EditorFor(model => model.recieved_amount, new { htmlAttributes = new { data_role = "input", data_prepend = "<span class='mif-dollar icon'></span>", @Placeholder = "Received $", @type = "number", min = "1", step = "0.01" } })
                @Html.ValidationMessageFor(model => model.recieved_amount, "", new { @class = "fg-magenta" })

                <br />
                <label class="fg-darkBlue">Comments:</label>
                @Html.TextAreaFor(model => model.comment, new { data_role = "textarea", placeholder = "... Comment" })
                @Html.ValidationMessageFor(model => model.comment, "", new { @class = "fg-magenta" })
                <!-- BUTTONS ------------------ -->
                <br />
                <label class="fg-darkBlue">Save as Receipt:</label>
                @Html.DropDownListFor(model => model.invoice, new List<SelectListItem>
                {
                    new SelectListItem() { Text = "YES", Value = "false" },
                    new SelectListItem() { Text = "NO", Value = "true" },
                }, null, htmlAttributes: new { data_role = "select", @Class = "input-large" })
                <button type="submit" class="button large yellow" style="width: 100%;">
                    <span class="mif-done_all icon"></span> Capture
                </button>
            </div>
        </div>
        <div class="cell-lg-6">
            <!-- PREVIEW ------------------ -->
            <div data-role="panel"
                 data-title-caption="Receipt"
                 data-cls-panel="shadow-3"
                 data-title-icon="<span class='mif-apps'></span>">
                <img id="rec_logo" src="#" width="10" />
                <div class="row">
                    <div class="cell-lg-6">
                        <p><strong><span id="rec_invName2">Invoice</span> No.: </strong>@ViewBag.recNo</p>
                        <hr class="bg-gray" />
                        <p><strong>Location: </strong><span id="REC-loc"></span></p>
                        <p><strong>Issuer: </strong><span id="REC-issuer"></span></p>
                        <p><strong>Date: </strong><span id="REC-date"></span></p>
                    </div>
                    <div class="cell-lg-6">
                        <p><strong>Order No.: </strong><span id="REC-orderNum"></span></p>
                        <hr class="bg-gray" />
                        <p><strong>Customer:</strong></p>
                        <p><span id="REC-payer"></span></p>
                        <hr class="bg-gray" />
                        <p><strong>Billing:</strong></p>
                        <p>Paid with: <span id="REC-payType"></span></p>
                        <div id="billingCheck">
                            <p></p>
                            <p>Check Number: <span id="REC-check"></span></p>
                            <p>Bank: <span id="REC-bank"></span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell-lg-12">
                        <table class="table subcompact" data-horizontal-scroll="true">
                            <thead>
                                <tr>
                                    <th>LINE #</th>
                                    <th>DESCRIPTION</th>
                                    <th>SALES PRICE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><span id="REC-desc"></span><br /><span id="REC-orderDesc"></span><br /><br /><span id="REC-comments"></span></td>
                                    <td id="REC-amount"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="cell-lg-6"></div>
                    <div class="cell-lg-6">
                        <table class="table subcompact" data-horizontal-scroll="true">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th></th>
                                    <td align="right">TOTAL:</td>
                                    <td align="left" id="REC-total"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table subcompact" data-horizontal-scroll="true">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th></th>
                                    <td align="right">PAYMENT:</td>
                                    <td align="left" id="REC-payment"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table subcompact" data-horizontal-scroll="true">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th></th>
                                    <td align="right">BALANCE:</td>
                                    <td align="left" id="REC-balance"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

<script>
    // Fetch & Show logo from DB
    // =========================
    var getUrl = window.location;
    var baseUrl = getUrl.protocol + "//" + getUrl.host;
    document.getElementById("rec_logo").src = baseUrl + "@ViewBag.recLogo";

    $(document).ready(function () {
        var receiptNo = $("#receiptNo");
        receiptNo.css("background-color", "#ffe484");
        var issuer = $("#issuer");
        issuer.css("background-color", "#f8f8f8");
        var datetime = $("#datetime");
        var payer = $("#payer");
        var checkNo = $("#checkNo");
        var amount = $("#amount");
        var amount_received = $("#recieved_amount");
        var item = $("#FK_items");
        var bank = $("#FK_bankDetails");
        var payment = $("#FK_paymentType");
        var paymentType = $("#REC-payType");
        var checkDetails = $("#checkDetails");
        var billing1 = $("#billingCheck");
        var orderSelect = $("#orderSelect");
        var cusOrders = $("#cusOrders");
        var comment = $("#comment");
        var location = $("#FK_location");
        // Payment logic
        // ==================================
        checkDetails.hide();
        billing1.hide();
        paymentType.text(payment.children("option:selected").text());
        payment.on('keyup change', function () {
            paymentType.text(payment.children("option:selected").text());
            if (payment.children("option:selected").text('Check')) {
                checkDetails.show();
                billing1.show();
            } else if (payment.children("option:selected").text('Debit Card')) {
                checkDetails.hide();
                billing1.hide();
                checkNo.val('');
                bank.val(5);
            } else if (payment.children("option:selected").text('Bank Transfer')) {
                checkDetails.hide();
                billing1.hide();
                checkNo.val('');
                bank.val(5);
            } else {
                checkDetails.hide();
                billing1.hide();
                checkNo.val('');
                bank.val(5);
            }
        });
        // Default onClick logic
        // ==================================
        // issuer
        $("#REC-issuer").html(issuer.val());
        issuer.on('keyup change', function () {
            $("#REC-issuer").html(issuer.val());
        });
        // datetime
        $("#REC-date").html(datetime.val());
        datetime.on('keyup change', function () {
            $("#REC-date").html(datetime.val());
        });
        // payer
        $("#REC-payer").html(payer.val());
        payer.on('keyup change', function () {
            $("#REC-payer").html(payer.val());
        });
        // checkNo
        $("#REC-check").html(checkNo.val());
        checkNo.on('keyup change', function () {
            $("#REC-check").html(checkNo.val());
        });
        // bank
        $("#REC-bank").html(bank.children("option:selected").text());
        bank.on('keyup change', function () {
            $("#REC-bank").html(bank.children("option:selected").text());
        });
        // items + comment
        $("#REC-desc").text(item.children("option:selected").text());
        item.on('keyup change', function () {
            $("#REC-desc").text(item.children("option:selected").text());
        });
        // amount
        $("#REC-total").html('$' + amount.val());
        amount.on('keyup change', function () {
            $("#REC-amount").html('$' + amount.val());
            $("#REC-total").html('$' + amount.val());
        });
        // amount_received
        var bal = 0;
        amount_received.on('keyup change', function () {
            $("#REC-payment").html('$' + amount_received.val());

            bal = amount.val() - amount_received.val();
            $("#REC-balance").html('$' + bal);
        });
        // comment
        $("#REC-comments").html('<hr class="bg-gray" width="50" /><br/>' + comment.val());
        comment.on('keyup change', function () {
            $("#REC-comments").html('<hr class="bg-gray" width="50" /><br/>' + comment.val());
        });
        // Payer (Customer)
        payer.css("background-color", "#f8f8f8"); // make payer field READONLY after process
        payer.prop("readonly");
    });
</script>