@model VCAS.Models.VCAS_capture_payments
@using MvcSiteMapProvider.Web.Html;
@{
    ViewBag.Title = "Capture Payment";
}

<!-- Quick Links ============================================= -->
<div class="row">
    <h6 style="font-weight: 700;" class="fg-grayBlue">:: Quick Links</h6>
    <div class="cell-lg-12">
        @Html.MvcSiteMap().Menu(false, true, true)
    </div>    
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "fg-magenta" })
    @Html.HiddenFor(model => model.Id)

<div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
    <h3 class="fg-gray">Invoice Capture</h3>
    <div class="row">
        <div class="cell-lg-6">
            <div class="remark">                
                @Html.DropDownList("FK_location", null, htmlAttributes: new { data_role = "select" })
                @Html.ValidationMessageFor(model => model.FK_location, "", new { @class = "fg-magenta" })
                @Html.EditorFor(model => model.issuer, new { htmlAttributes = new { data_role = "input", data_prepend = "Issuer:", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.issuer, "", new { @class = "fg-magenta" })
                @Html.EditorFor(model => model.receiptNo, new { htmlAttributes = new { data_role = "input", data_prepend = "Invoice No:", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.receiptNo, "", new { @class = "fg-magenta" })
                @Html.EditorFor(model => model.datetime, new { htmlAttributes = new { data_role = "calendarpicker", @Placeholder = "Select Date:" } })
                @Html.ValidationMessageFor(model => model.datetime, "", new { @class = "fg-magenta" })
            </div>
            <div class="row">
                <div class="cell-lg-12">
                    <div class="remark">
                        <div class="row">
                            <div class="cell-lg-12">
                                @Html.EditorFor(model => model.payer, new { htmlAttributes = new { data_role = "input", data_prepend = "Payer: "} })
                                @Html.ValidationMessageFor(model => model.payer, "", new { @class = "fg-magenta" })
                                @Html.HiddenFor(model => model.payerID)
                            </div>
                        </div>
                        @Html.EditorFor(model => model.amount, new { htmlAttributes = new { data_role = "input", data_prepend = "Amount: $", @type = "number", min = "1", step = "0.01" } })
                        @Html.ValidationMessageFor(model => model.amount, "", new { @class = "fg-magenta" })
                        <br />
                        <label class="fg-darkBlue">Payment Type:</label>
                        @Html.DropDownList("FK_paymentType", null, htmlAttributes: new { data_role = "select" })
                        @Html.ValidationMessageFor(model => model.FK_paymentType, "", new { @class = "fg-magenta" })
                        <div id="checkDetails">
                            @Html.EditorFor(model => model.checkNo, new { htmlAttributes = new { data_role = "input", data_prepend = "Check No.: " } })
                            @Html.ValidationMessageFor(model => model.checkNo, "", new { @class = "fg-magenta" })
                            <br />
                            @Html.DropDownList("FK_bankDetails", null, htmlAttributes: new { data_role = "select" })
                            @Html.ValidationMessageFor(model => model.FK_bankDetails, "", new { @class = "fg-magenta" })
                        </div>

                        <div class="row">
                            <div class="cell-lg-12">
                                <label class="fg-darkBlue">Sales Item:</label>
                                @Html.DropDownList("FK_items", null, htmlAttributes: new { data_role = "select" })
                                @Html.ValidationMessageFor(model => model.FK_items, "", new { @class = "fg-magenta" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="remark">
                @Html.TextAreaFor(model => model.comment, new { data_role = "textarea", placeholder = "... Comment" })
                @Html.ValidationMessageFor(model => model.comment, "", new { @class = "fg-magenta" })
            </div>
        </div>
        <div class="cell-lg-6">
            <!-- PREVIEW ------------------ -->
            <div data-role="panel"
                 data-title-caption="Invoice"
                 data-cls-panel="shadow-3"
                 data-title-icon="<span class='mif-apps'></span>">
                <img id="rec_logo" src="#" width="10%" />
                <div class="row">
                    <div class="cell-lg-6">
                        <p><strong>Invoice No.: </strong>@ViewBag.recNo</p>
                        <hr class="bg-gray" />
                        <p><strong>Location: </strong><span id="REC-loc"></span></p>
                        <p><strong>Issuer: </strong><span id="REC-issuer"></span></p>
                        <p><strong>Date: </strong><span id="REC-date"></span></p>
                    </div>
                    <div class="cell-lg-6">
                        <p><strong>Order No.: </strong><span id="REC-orderNum"></span></p>
                        <hr class="bg-gray" />
                        <p><strong>Customer:</strong></p>
                        <p><span id="REC-payer"></span></p>
                        <hr class="bg-gray" />
                        <p><strong>Billing:</strong></p>
                        <p>Paid with: <span id="REC-payType"></span></p>
                        <div id="billingCheck">
                            <p></p>
                            <p>Check Number: <span id="REC-check"></span></p>
                            <p>Bank: <span id="REC-bank"></span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell-lg-12">
                        <table class="table subcompact" data-horizontal-scroll="true">
                            <thead>
                                <tr>
                                    <th>LINE #</th>
                                    <th>DESCRIPTION</th>
                                    <th>AMOUNT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><span id="REC-desc"></span><br /><span id="REC-orderDesc"></span><br /><br /><span id="REC-comments"></span></td>
                                    <td id="REC-amount"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table subcompact" data-horizontal-scroll="true">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th></th>
                                    <td align="right">TOTAL</td>
                                    <td align="left" id="REC-total"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- BUTTONS ------------------ -->
            <br />
            <div class="row">                
                <div class="cell-lg-12">
                    <ul class="pagination no-gap size-large">
                        <li class="page-item" style="padding:5px;">
                            <label class="fg-darkBlue">Save as Receipt:</label>
                            @Html.EditorFor(model => model.invoice, new { htmlAttributes = new { data_role = "select", @Class = "input-small" } })
                        </li>
                        <li class="page-item">
                            <button type="submit" class="button large yellow">
                                <span class="mif-done_all icon"></span> Capture
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
}

<script>
    // Fetch & Show logo from DB
    // =========================
    var getUrl = window.location;
    var baseUrl = getUrl.protocol + "//" + getUrl.host;
    document.getElementById("rec_logo").src = baseUrl + "@ViewBag.recLogo";

    $(document).ready(function () {
        var receiptNo = $("#receiptNo");
        receiptNo.css("background-color", "#ffe484");
        var issuer = $("#issuer");
        issuer.css("background-color", "#f8f8f8");
        var datetime = $("#datetime");
        var payer = $("#payer");
        var checkNo = $("#checkNo");
        var amount = $("#amount");
        var item = $("#FK_items");
        var bank = $("#FK_bankDetails");
        var payment = $("#FK_paymentType");
        var paymentType = $("#REC-payType");
        var checkDetails = $("#checkDetails");
        var billing1 = $("#billingCheck");
        var orderSelect = $("#orderSelect");
        var cusOrders = $("#cusOrders");
        var comment = $("#comment");
        var location = $("#FK_location");
        // Payment logic
        // ==================================
        checkDetails.hide();
        billing1.hide();
        paymentType.text(payment.children("option:selected").text());
        payment.on('keyup change', function () {
            paymentType.text(payment.children("option:selected").text());
            if (payment.children("option:selected").text('Check')) {
                checkDetails.show();
                billing1.show();
            } else if (payment.children("option:selected").text('Debit Card')) {
                checkDetails.hide();
                billing1.hide();
                checkNo.val('');
                bank.val(5);
            } else if (payment.children("option:selected").text('Bank Transfer')) {
                checkDetails.hide();
                billing1.hide();
                checkNo.val('');
                bank.val(5);
            } else {
                checkDetails.hide();
                billing1.hide();
                checkNo.val('');
                bank.val(5);
            }
        });
        // Default onClick logic
        // ==================================
        // issuer
        $("#REC-issuer").html(issuer.val());
        issuer.on('keyup change', function () {
            $("#REC-issuer").html(issuer.val());
        });
        // datetime
        $("#REC-date").html(datetime.val());
        datetime.on('keyup change', function () {
            $("#REC-date").html(datetime.val());
        });
        // payer
        $("#REC-payer").html(payer.val());
        payer.on('keyup change', function () {
            $("#REC-payer").html(payer.val());
        });
        // checkNo
        $("#REC-check").html(checkNo.val());
        checkNo.on('keyup change', function () {
            $("#REC-check").html(checkNo.val());
        });
        // bank
        $("#REC-bank").html(bank.children("option:selected").text());
        bank.on('keyup change', function () {
            $("#REC-bank").html(bank.children("option:selected").text());
        });
        // items + comment
        $("#REC-desc").text(item.children("option:selected").text());
        item.on('keyup change', function () {
            $("#REC-desc").text(item.children("option:selected").text());
        });
        // amount
        $("#REC-amount").html('$' + amount.val());
        $("#REC-total").html('$' + amount.val());
        amount.on('keyup change', function () {
            $("#REC-amount").html('$' + amount.val());
            $("#REC-total").html('$' + amount.val());
        });
        // comment
        $("#REC-comments").html('<hr class="bg-gray" width="50" /><br/>' + comment.val());
        comment.on('keyup change', function () {
            $("#REC-comments").html('<hr class="bg-gray" width="50" /><br/>' + comment.val());
        });
    });
</script>