@model VCAS.Models.VCAS_forms

@{
    ViewBag.Title = "Form Details";
}

<div class="row">
    
    <!-- Quick Links ============================================= -->
    <div class="row">
        <h6 style="font-weight: 700;" class="fg-grayBlue">:: Quick Links</h6>
        <div class="cell-lg-12">
            @Html.MvcSiteMap().Menu(false, true, true)
        </div>
    </div>

    <div class="cell-lg-6">
        <div data-role="panel"
             data-title-caption="Form Entry"
             data-title-icon="<span class='mif-apps'></span>"
             data-collapsible="true">

            @Html.Raw(Model.form)
            <hr class="fg-gray" />
            <p class="fg-darkGray" align="RIGHT">@Html.ActionLink("<< Back", null, null, null, new { href = Request.UrlReferrer })</p>
            <p align="RIGHT" class="fg-darkGray">@Model.name<br />@Model.desc<br />version: @Model.dateModified.ToString("dd-MM-yyyy")</p>
        </div>
    </div>
    <div class="cell-lg-6">
        <div data-role="panel"
             data-title-caption="Form Data"
             data-title-icon="<span class='mif-apps'></span>"
             data-collapsible="true">

            @Html.Action("IndexPartial", "formsData", new { id = ViewBag.id })
        </div>
    </div>
</div>