@model IEnumerable<VCAS.Models.VCAS_orders>

@{
    ViewBag.Title = "Index";
}

<h2 class="fg-darkGray">VCAS_orders:: Index</h2>
<a href="@Url.Action("Create01", "orders")" class="image-button success" style="text-decoration: none !important;">
    <span class="mif-chevron-thin-right icon"></span>
    <span class="caption">Create New</span>
</a>
<br />
<table class="table striped table-border cell-border row-border compact bg-white" data-role="table">
    <thead>
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VCAS_customer.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VCAS_inventory.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VCAS_REF_order_status.name)
        </th>
        <th>
            manage
        </th>
    </tr>
  </thead>

@foreach (var item in Model) {
    <tbody>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VCAS_customer.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VCAS_inventory.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VCAS_REF_order_status.name)
        </td>
        <td>
                <ul class="pagination no-gap size-large">
                    <li class="page-item">
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="button info"><span class="mif-pencil icon"></span></a>
                    </li>
                    <li class="page-item">
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="button alert"><span class="mif-bin icon"></span></a>
                    </li>
                </ul>
        </td>
    </tr>
    </tbody>
}

</table>
